@using BeSpoked.ViewModels;
@{
    var employee = (EmployeeViewModel)ViewData["Employee"];
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Employee" asp-action="List" asp-area="">Employees</a></li>
    <li class="breadcrumb-item active">@employee.Em_Name_First @employee.Em_Name_Last</li>
</ol>

<h1>Employee: @employee.Em_Name_First @employee.Em_Name_Last</h1>

<div class="row">
    <div class="col">
        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-Em_Key="@employee.Em_Key">Edit</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <label asp-for="@employee.Em_Name_First"></label>
    </div>
    <div class="col">
        @employee.Em_Name_First
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="@employee.Em_Name_Last"></label>
    </div>
    <div class="col">
        @employee.Em_Name_Last
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="@employee.Em_Addr_1"></label>
    </div>
    <div class="col">
        @employee.Em_Addr_1
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="@employee.Em_Addr_2"></label>
    </div>
    <div class="col">
        @employee.Em_Addr_2
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="@employee.Em_Phone"></label>
    </div>
    <div class="col">
        @employee.Em_Phone
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="@employee.Em_Date_Start"></label>
    </div>
    <div class="col">
        @employee.Em_Date_Start
    </div>
</div>
@if (!employee.Em_Active)
{
    <div class="row">
        <div class="col">
            <label asp-for="@employee.Em_Date_Terminated"></label>
        </div>
        <div class="col">
            @employee.Em_Date_Terminated
        </div>
    </div>
}


<div class="row">
    <div class="col">
        <label asp-for="@employee.Em_Mg_Name"></label>
    </div>
    <div class="col">
        @employee.Em_Mg_Name
    </div>
</div>