@using BeSpoked.Models;
@using BeSpoked.ViewModels;
 
@model ProductModel;
@{ 
    var manufacturers = (List<SelectListModel>)ViewData["Manufacturers"];
    var styles = (List<SelectListModel>)ViewData["Styles"];
}


<form method="post" class="form-custom" style="margin: 50px auto; max-width: 500px;">
    <div class="form-header">
        <h1>Edit Product</h1>
    </div>

    <div class="form-body">

        <input hidden asp-for="@Model.Pr_Key" />

        <div class="row">
            <div class="col">
                <label asp-for="@Model.Pr_Name"></label>
                <input class="form-control" asp-for="@Model.Pr_Name" placeholder="First Name" />
                <span class="text-danger text-center" asp-validation-for="@Model.Pr_Name"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="@Model.Pr_Manufacturer"></label>
                <select class="form-control" asp-for="@Model.Pr_Manufacturer">
                    <option value="0">Select</option>
                    @foreach (var manufacturer in manufacturers)
                    {
                        <option value="@manufacturer.Key">@manufacturer.Display</option>
                    }
                </select>
                <span class="text-danger text-center" asp-validation-for="@Model.Pr_Manufacturer"></span>
            </div>

            <div class="col">
                <label asp-for="@Model.Pr_Style"></label>
                <select class="form-control" asp-for="@Model.Pr_Style">
                    <option value="0">Select</option>
                    @foreach (var style in styles)
                    {
                        <option value="@style.Key">@style.Display</option>
                    }
                </select>
                <span class="text-danger text-center" asp-validation-for="@Model.Pr_Style"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="@Model.Pr_Amt_Purchase"></label>
                <input class="form-control" asp-for="@Model.Pr_Amt_Purchase" placeholder="Alpharetta, GA 30022" />
                <span class="text-danger text-center" asp-validation-for="@Model.Pr_Amt_Purchase"></span>
            </div>
            <div class="col">
                <label asp-for="@Model.Pr_Amt_Sale"></label>
                <input class="form-control" asp-for="@Model.Pr_Amt_Sale" placeholder="Phone" />
                <span class="text-danger text-center" asp-validation-for="@Model.Pr_Amt_Sale"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="@Model.Pr_Qty"></label>
                <input class="form-control" asp-for="@Model.Pr_Qty" />
                <span class="text-danger text-center" asp-validation-for="@Model.Pr_Qty"></span>
            </div>

            <div class="col">
                <label asp-for="@Model.Pr_Commission"></label>
                <input class="form-control" asp-for="@Model.Pr_Commission" />
                <span class="text-danger text-center" asp-validation-for="@Model.Pr_Commission"></span>
            </div>
        </div>

    </div>

    <div class="form-footer">
        <div class="row" style="margin: 15px 0;">
            <div class="col">
                <a class="btn btn-sm btn-outline-dark" asp-action="View" asp-route-Pr_Key="@Model.Pr_Key">Cancel</a>
            </div>
            <div class="col text-right">
                <a class="btn btn-sm btn-outline-dark" asp-action="Edit" asp-route-Pr_Key="@Model.Pr_Key">Reset</a>
                <button class="btn btn-sm btn-primary" type="submit"> Update </button>
            </div>
        </div>
    </div>
</form>