@using BeSpoked.ViewModels;
@using BeSpoked.Utilities;
@{
    var products = (List<ProductViewModel>)ViewData["ProductList"];
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="">Home</a></li>
    <li class="breadcrumb-item active">Products</li>
</ol>

<h1>Products</h1>

<div class="row text-right" style="margin-bottom: 5px;">
    <div class="col">
        <a class="btn btn-sm btn-outline-dark" asp-action="Add">New Product +</a>
    </div>
</div>

<label class="font-italic pl-1">@products.Count Products</label>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th><a asp-action="List" asp-route-sortOrder="@ViewData["NameSortParm"]">Name <i class="fa-solid fa-sort"></i></a></th>
            <th><a asp-action="List" asp-route-sortOrder="@ViewData["ManufacturerSortParm"]">Manufacturer <i class="fa-solid fa-sort"></i></a></th>
            <th><a asp-action="List" asp-route-sortOrder="@ViewData["StyleSortParm"]">Style <i class="fa-solid fa-sort"></i></a></th>
            <th><a asp-action="List" asp-route-sortOrder="@ViewData["PurchaseSortParm"]">Purchase Amt <i class="fa-solid fa-sort"></i></a></th>
            <th><a asp-action="List" asp-route-sortOrder="@ViewData["PriceSortParm"]">Sale Price <i class="fa-solid fa-sort"></i></a></th>
            <th><a asp-action="List" asp-route-sortOrder="@ViewData["QtySortParm"]">Qty <i class="fa-solid fa-sort"></i></a></th>
            <th><a asp-action="List" asp-route-sortOrder="@ViewData["CommissionSortParm"]">Commission <i class="fa-solid fa-sort"></i></a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr onclick="location.href = '@(Url.Action("View", new { Pr_Key = product.Pr_Key}))'">
                <td>@product.Pr_Name</td>
                <td>@product.Pr_Manufacturer</td>
                <td>@product.Pr_Style</td>
                <td>$@product.Pr_Amt_Purchase.ToString("N2")</td>
                <td>$@product.Pr_Amt_Sale.ToString("N2")</td>
                <td class="text-center">@product.Pr_Qty</td>
                <td class="text-center">@Formatter.DisplayPercentage(product.Pr_Commission)</td>
            </tr>
        }
    </tbody>
</table>