@using BeSpoked.Models;
@using BeSpoked.Utilities;
@{
    var customers = (List<CustomerModel>)ViewData["CustomerList"];
}



<h1>Customers</h1>

<div class="row" style="margin-bottom: 30px;">
    <div class="col">
        <a class="btn btn-sm btn-primary" asp-action="Add">New Customer +</a>
    </div>
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Start Date</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in customers)
        {
            <tr onclick="location.href = '@(Url.Action("View", new { Cu_Key = customer.Cu_Key}))'">
                <td>@customer.Cu_Name_First</td>
                <td>@customer.Cu_Name_Last</td>
                <td>@customer.Cu_Phone</td>
                <td>@customer.Cu_Date_Start.ToString("MM/dd/yyyy")</td>
                <td>@Formatter.DisplayTimeSince(customer.Updated)</td>
            </tr>
        }
    </tbody>
</table>