@using BeSpoked.Models;
@using BeSpoked.Utilities;
@{
    var customer = (CustomerModel)ViewData["Customer"];
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Customer" asp-action="List" asp-area="">Customers</a></li>
    <li class="breadcrumb-item active">@customer.Cu_Name_First @customer.Cu_Name_Last</li>
</ol>

<h1>Customer: @customer.Cu_Name_First @customer.Cu_Name_Last</h1>


<div style="max-width: 600px; margin-top:30px;">

    <div class="row">
        <div class="col">
            <label>Personal Details</label>
        </div>
        <div class="col text-right">
            <a class="btn btn-sm btn-outline-dark" asp-action="Edit" asp-route-Cu_Key="@customer.Cu_Key">Edit</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <label class="font-weight-bold" asp-for="@customer.Cu_Name_First"></label>
        </div>
        <div class="col">
            @customer.Cu_Name_First
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="font-weight-bold" asp-for="@customer.Cu_Name_Last"></label>
        </div>
        <div class="col">
            @customer.Cu_Name_Last
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="font-weight-bold" asp-for="@customer.Cu_Addr_1"></label>
        </div>
        <div class="col">
            @customer.Cu_Addr_1
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="font-weight-bold" asp-for="@customer.Cu_Addr_2"></label>
        </div>
        <div class="col">
            @customer.Cu_Addr_2
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="font-weight-bold" asp-for="@customer.Cu_Phone"></label>
        </div>
        <div class="col">
            @Formatter.DisplayPhoneNumber(customer.Cu_Phone)
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="font-weight-bold" asp-for="@customer.Cu_Date_Start"></label>
        </div>
        <div class="col">
            @customer.Cu_Date_Start.ToString("MM/dd/yyyy")
        </div>
    </div>
</div>
